[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
matplotlib = "*"
my-app = {editable = true, path = "."}
pandas = "*"
numpy = "*"
scikit-learn = "*"
seaborn = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
